@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  box-sizing: border-box;
}
body{
  font-family: Roboto, sans-serif;
  margin: 0;
}

header{
  background-image: url(car-bg.jpg);
  background-size: cover;
  background-position: center ;
  display: flex;
  flex-direction: column;
  color: white;
  min-height: 100vh;
}
/* best way to center the navbar elements */
.container{
  border:2px solid white;
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
}

nav {
  display: flex;
  justify-content: space-between;
}
nav .logo{
  font-size: 2rem;
}


nav ul{
  display: flex;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}